.feature__subtitle {
    color: #df2020;

}

.feature__title span {
    color: #df2020;
}

.feature__text {
    color: #333;
    margin-bottom: 0;
}

.feature__item p {
    color: #333;
}

.food__category {
    background: #df2020;
    text-align: center;
    margin-top: 30px;
    padding: 20px 0;
    border-radius: 8px;
}

.food__category button {
    border: none;
    outline: none;
    padding: 7px 20px;
    background: transparent;
    color: #fff;
}

.food__category button img {
    width: 15px;
    height: 15px;
}

.foodBtnActive {
    background: #fff !important;
    border-radius: 5px;
    color: #df2020 !important;
}

.tasty__treat-title span {
    color: #df2020;
}

.tasty__treat-desc {
    color: #333;
    line-height: 28px;
    margin-bottom: 0;
}

.choose__us-title {
    font-weight: 600;
    margin-bottom: 10px;
}

.choose__us-title i {
    font-weight: 500 !important;
    color: #df2020;
    font-size: 1.2rem;
}

.choose__us-desc {
    color: #333;
}

.testimonial__subtitle {
    color: #df2020;
}

.testimonial__title span {
    color: #df2020;
}

.testimonial__desc {
    line-height: 30px;
}

@media only screen and (max-width:576px) {

    .hero__content h5 {
        font-size: 1rem;
    }

    .hero__content p {
        font-size: 0.8rem;
        line-height: 25px;
    }

    .hero__title {
        font-size: 1.5rem;
        line-height: 40px;
    }

    .why__choose-us {
        padding-top: 0 !important;
    }
}

@media only screen and (max-width:768px) {
    .feature__item h5 {
        font-size: 0.9rem;
    }

    .feature__item p {
        font-size: 0.9rem;
        margin-bottom: 0;
    }

    .feature__subtitle {
        font-size: 1rem;
    }

    .food__category {
        padding: 15px;
    }

    .food__category button {
        padding: 5px 15px;
        font-size: 0.9rem;
    }

    .tasty__treat-desc {
        font-size: 1rem;
    }

    .choose__us-title {
        font-size: 1rem;
    }

    .choose__us-desc {
        font-size: 0.9rem;
    }

    .why__choose-us {
        padding-top: 0 !important;
    }

    .testimonial__subtitle {
        font-size: 1rem;
    }

    .testimonial__desc {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width:567px) {
    .hot__pizza {
        padding: 6rem !important;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}